<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <td class='col-md-2'><i class='fa fa-phone'></i></td>
            <td><%= @restaurant.phone %></td>
        </tr>
        <tr>
            <td class='col-md-2'><i class='fa fa-cutlery'></i></td>
            <td><%= @restaurant.cuisine %></td>
        </tr>

        <tr>
            <td class='col-md-2'><i class='fa fa-star'></i></td>
            <td><%= @restaurant.rating %> / 5</td>
        </tr>

        <tr>
            <td class='col-md-2'><i class='fa fa-comments'></i></td>
            <td><%= @restaurant.snippet%></td>
        </tr>
    </tbody>
</table>