<table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td class='col-md-2'><i class='fa fa-phone'></i></td>
                <td><%= @user.trip.restaurant.phone %></td>
            </tr>
            <tr>
                <td class='col-md-2'><i class='fa fa-cutlery'></i></td>
                <td><%= @user.trip.restaurant.phone %></td>
            </tr>

            <tr>
                <td class='col-md-2'><i class='fa fa-star'></i></td>
                <td><%= @user.trip.restaurant.rating %></td>
            </tr>

            <tr>
                <td class='col-md-2'><i class='fa fa-comments'></i></td>
                <td><%= @user.trip.restaurant.snippet%></td>
            </tr>
        </tbody>
    </table>