<% view_object = MapViewObject.new(@user, @restaurant)%>
<div class="col-xs-6">
    <div id="map-container">
        <div id="map-canvas">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="450" height="400" src="<%= view_object.directions %>"></iframe>
            </div>
    </div>
</div>