<h1><%= @user.name.capitalize%>'s Profile</h1>
<hr>
<div class="row">
    <div class="column-xs-7">
        <%= render '/layouts/map', local:@user %>
    </div>
    <h3>Account Information</h3>
    <hr>
    <div class="column-xs-5">
        <%= render 'user_info', local:@user %>
    </div>
</div>