<div class="row">
    <div class="column-xs-7">
        <%= render '/layouts/map', local:@user %>
    </div>

    <div class="column-xs-5">
        <%= render 'user_info', local:@user %>
    </div>
</div>