<% view_object = MapViewObject.new(current_user)%>

<div id="map-container">
    <div id="map-canvas">
    <iframe frameborder="0" scrolling="no"  src="<%= view_object.directions %>"></iframe>
    </div>
</div>