<% view_object = MapViewObject.new(@user)%>
<div id="map-container">
    <div id="map-canvas">
        <iframe frameborder="0" scrolling="no" margin="10" src="<%= view_object.user_location %>">
        </iframe>
    </div>
</div>